<div class="footer-distributed">

  <div class="footer-right">

    <a href="#">
      <i class="fa fa-facebook"></i>
    </a>
    <a href="#">
      <i class="fa fa-twitter"></i>
    </a>
    <a href="#">
      <i class="fa fa-linkedin"></i>
    </a>
    <a href="#">
      <i class="fa fa-github"></i>
    </a>

  </div>

  <div class="footer-left">

    <p class="footer-links">
      <a href="/dashboard">Home</a>
      ·
      <a href="#">All Hotels</a>
      ·
      <a href="#">FAQ</a>
      ·
      <a href="#">Contact</a>
    </p>

    <p>BookHotel &copy; 2019</p>
  </div>

</div>