/* HeroDetailComponent's private CSS styles */
   
.user-select {
  border: 1px solid grey;
  padding: 40px;
  text-align: left;
width: 100%;
}
label {
        display: inline-block;
        color: #607D8B;
        padding: 20px;
      }
      input {
        padding: 10px;
      }

      button {
        background-color: #eee;
        border: none;
        padding: 10px;
        border-radius: 4px;
        cursor: pointer;
        font-family: 'Roboto', sans-serif;
      :hover {
        background-color: #cfd8dc;
      }
      :disabled {
        background-color: #eee;
        color: #ccc;
        cursor: auto;
      }
    }

