/* HeroDetailComponent's private CSS styles */

@import "../../styles.scss";
.user-select {
    border: 1px solid grey;
    padding: 40px;
    font-family: $main-font;
    margin: 150px;
    .hotel-title {
        border: 1px solid black;
        img {
            border-radius: 50%;
        }
        .hotel-details-name {
            font-size: 30px;
        }
    }
    label {
        display: inline-block;
        color: #607D8B;
        padding: 20px;
    }
    input {
        padding: 10px;
    }
    button {
        background-color: #eee;
        border: none;
        padding: 10px;
        border-radius: 4px;
        cursor: pointer;
        font-family: $main-font;
        :hover {
            background-color: #cfd8dc;
        }
        :disabled {
            background-color: #eee;
            color: #ccc;
            cursor: auto;
        }
    }
}