<!-- Go back -->
<button (click)="goBack()">Back</button>

<!-- Hotel Info -->
<div class="card" *ngIf="hotel">
  <div class="meta">
    <div class="photo">
      <img src="{{ hotel.image }}" alt="{{ hotel.name }}" />
    </div>
  </div>
  <div class="description">
    <h1>{{ hotel.name }}</h1>
    <h2>Address: {{ hotel.address }}</h2>
    <h3>Distance to venue: {{ hotel.distance_to_venue }}</h3>
    <h4>Rating: {{ hotel.rating }}</h4>
    <h5>Price Category: {{ hotel.price_category }}</h5>
    <h5>Popular Amenities: {{ hotel.amenities || "Not listed" }}</h5>
    <p>
      <br />
      Details: Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente
      ab quae earum minus, sint assumenda facere alias, nemo iste, similique
      excepturi vitae recusandae voluptate maiores? Voluptatibus.
    </p>
  </div>
</div>

<!-- Rooms available -->
<div class="section group" *ngIf="hotel">
  <div
    *ngFor="let room of hotel.rooms | arraySort: price_in_usd"
    class="col span_1_of_3"
  >
    <h2>{{ room.name }}</h2>
    <h4>Max Occupancy: {{ room.max_occupancy }}</h4>
    <h4>Price: {{ room.price_in_usd | currency: "" }}/night</h4>
    <h5>Description: {{ room.description }}</h5>

    <a routerLink="/confirmation/{{ hotel.id }}/{{ room.id }}">Book Now</a>
  </div>
</div>

<!-- Confirmation Toast -->
<div id="confirmed">
  <h3>Confirmed!</h3>
  <h3>You will be staying in the {{ name }}!</h3>
  <h4>Thank you for booking with us.</h4>
</div>
