<div class="card" *ngFor="let hotel of hotels">
  <div class="meta">
    <div class="photo"><img src="{{hotel.image}}" alt="{{hotel.name}}"></div>
    <ul class="details">
      <li class="tags">
        <ul>
          <li><a routerLink="/detail/{{hotel.id}}">Book now!</a></li>
        </ul>
      </li>
    </ul>
  </div>
  <div class="description">
    <h1>{{hotel.name}}</h1>
    <h2>Address: {{hotel.address}}, {{hotel.city}}, {{hotel.country}}</h2>
    <p> Contact: {{hotel.phone}}
      <br>
      Cost: {{hotel.cost}}
      <p class="book-now">
        <a routerLink="/detail/{{hotel.id}}">Book now...</a>
      </p>
  </div>
</div>