<!-- Homepage, Hero, Header and Footer -->
<div id="home-page">
  <header>
    <h1 id="logo">
      <a routerLink="/dashboard">B</a>
    </h1>
    <div class="nav">
      <ul>
        <li>
          <a routerLink="/dashboard">Search</a>
        </li>
        <li>
          <a routerLink="/hotels">All Hotels</a>
        </li>
      </ul>
    </div>
    <div id="account">
      <div id="account-avatar">
        <a routerLink="/account">
          <img src="../assets/janedoe.jpg" alt="Jane Doe" />
        </a>
      </div>
    </div>
  </header>
  <div class="hero">
    <h1>{{ title }}</h1>
    <h2>Find the hotel that fits your needs</h2>
  </div>
  <a (click)="adminView()">Admin view</a>
</div>

<router-outlet></router-outlet>

<footer></footer>
