@import "../../styles.scss";

.search-component {
    text-align: center;

    .search-section {
        display: inline-grid;
        border: 2px solid grey;
        border-radius: 4px;
        padding: 40px;
        margin: 40px;

    }
}