<div class="search-component">
  <div class="search-section">
    <h3 id="caption">Use this search to find the hotel that fits your needs.</h3>

    <div id="price-category-search">
      <p>Search by price category:</p>
      <select [(ngModel)]="price_category">
        <option></option>
        <option value="low">Low</option>
        <option value="medium">Medium</option>
        <option value="high">High</option>
      </select>
    </div>

    <div id="rating-search">
      <p>Search hotels with a rating of: </p>
      <select [(ngModel)]="rating">
        <option></option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
      </select>
    </div>
    <div id="location-search">
      <p>Search by location: </p>
      <input [(ngModel)]="city" class="searchTermInput" placeholder="City" />
      <input [(ngModel)]="country" class="searchTermInput" placeholder="Country" />
    </div>

    <button type="submit" class="searchButton"
      (click)="searchHotels(city, country, price_category, rating)">Search</button>

    <!-- Nice to have: Distance search, did not have enough time to complete this -->
    <!-- <div id="distance-search">
      <p>Search hotels within: </p>
      <select [(ngModel)]="distance_to_venue">
        <option value="50">50 meters</option>
        <option value="100">100 meters</option>
        <option value="150">150 meters</option>
        <option value="200">200 meters</option>
        <option value="250">250 meters</option>
      </select>
    </div> -->

  </div>
</div>

<div class="card" *ngFor="let hotel of hotels$ | async ">
  <div class="meta">
    <div class="photo"><img src="{{hotel.image}}" alt="{{hotel.name}}"></div>
  </div>
  <div class="description">
    <h1>{{hotel.name}}</h1>
    <h2>Address: {{hotel.address}}</h2>
    <p>Price Category: {{hotel.price_category}}</p>
    <p>Amenities:
      {{hotel.amenities}}
      <p>Rating: {{hotel.rating}}</p>
      <p>Distance to venue: {{hotel.distance_to_venue}}</p>
      <p class="book-now">
        <a routerLink="/detail/{{hotel.id}}">Get Details</a>
      </p>
  </div>
</div>