<!-- Top hotels dashboard feature -->
<div class="top-hotels">
  <h3>Recently Booked</h3>
  <div class="grid grid-pad">
    <a
      *ngFor="let hotel of hotels"
      class="col-1-4"
      routerLink="/detail/{{ hotel.id }}"
    >
      <div class="module hotel">
        <h3>{{ hotel.name }}</h3>
      </div>
    </a>
  </div>
</div>

<form class="admin" action="submit">
  <input type="text" [(ngModel)]="name" name="name" placeholder="name" />
  <input type="text" [(ngModel)]="city" name="city" placeholder="city" />
  <input type="text" [(ngModel)]="description" name="desc" placeholder="desc" />
  <button (click)="createHotel(name, city, description)">
    Create new hotel
  </button>
</form>

<app-hotel-search></app-hotel-search>
