@import "../../styles.scss";
.top-hotels {
    h3 {
        font-family: $main-font;
        text-align: center;
    }
    .grid {
        font-family: $main-font;
        margin: 0;
        padding: 10px;
        a {
            text-decoration: none;
        }
        *,
        *:after,
        *:before {
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }
        h3 {
            font-family: $main-font;
            position: relative;
        }
        .col-1-4 {
            font-family: $main-font;
            width: 25%;
        }
        .module {
            font-family: $main-font;
            text-align: center;
            color: $medium-color;
            border: 3px solid $medium-color;
            max-height: 90px;
            min-width: 90px;
            background-color: $white-color;
            border-radius: 4px;
            &:hover {
                background-color: $medium-color;
                cursor: pointer;
                color: $white-color;
            }
        }
    }
    [class*='col-'] {
        float: left;
        padding-right: 20px;
        padding-bottom: 20px;
    }
    [class*='col-']:last-of-type {
        padding-right: 0;
    }
}

@media (max-width: 600px) {
    .module {
        font-size: 10px;
        max-height: 75px;
    }
}

@media (max-width: 1024px) {
    .grid {
        margin: 0;
    }
    .module {
        min-width: 60px;
    }
}