/* You can add global styles to this file, and also import other style files */

$darkest-color: #87677B;
$dark-color: #9A7AA0;
$medium-color: #8D94BA;
$light-color: #A0CFD3;
$green-color: #B4EDD2;
$white-color: #fff;
$black: #333;
$color_grey: #e2e2e2;
$color_grey_dark: #a2a2a2;
$main-font: 'Lato',
sans-serif;
$header-font: 'Major Mono Display',
monospace;

body {
    margin: 0;
    padding: 0 30px;
    font-family: $main-font;

}

button {
    font-family: $main-font;
    padding: 15px;
    margin: 10px;
    font-size: 16px;
    border-radius: 20px;
    outline: none;

    &:hover {
        background-color: $darkest-color;
        color: white;
    }
}